<div class=" text-center p-field p-col-12 p-md-4">
    <p-button class="Minusday" label="Click" (onClick)="Minusday($event)" label="<--"></p-button>
    <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon" (onSelect)="onSelect($event)"></p-calendar>
    <p-button class="AddDays" label="Click" (onClick)="AddDays($event)" label="-->"></p-button>
</div>

<ng-container>
    <p-table *ngIf="dane[0]" #dt1 [value]="dane[0].rates" selectionMode="single" [(selection)]="selectedCustomer1"
        dataKey="id" styleClass="p-datatable-customers" responsiveLayout="scroll" [rows]="10" [paginator]="true"
        stateStorage="session" stateKey="statedemo-session" [globalFilterFields]="['code','mid']">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="flag">Flag <p-sortIcon field="mid"></p-sortIcon>
                </th>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="mid">Mid <p-sortIcon field="mid"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th>
                    
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'code', 'contains')"
                        [value]="$any(dt1.filters['code'])?.value" placeholder="Search by Code" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'mid', 'contains')"
                        [value]="$any(dt1.filters['mid'])?.value" placeholder="Search by Mid" class="p-column-filter">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rate>
            <tr>
                <td>
                    <span class="p-column-title">Flag</span>
                    <img [src]="getFlag(rate.code)" height="40px">
                </td>
                <td>
                    <span class="p-column-title">Name</span>
                    {{ rate.code }}
                </td>
                <td>
                    <span class="p-column-title">Name</span>
                    {{getRateMid(rate) ? (getRateMid(rate) | number:'1.3-3') : 'brak danych' }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No Found.</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="dane?.[0] == null" class="text-center">
        <p-panel>
            <p>Brak danych prosze wybrać wlasciwa date</p>
        </p-panel>
    </div>
</ng-container>
