<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="NavID"> 

    </div>
    <div class="d-flex">
      <p-inputSwitch [(ngModel)]="checked" (onChange)="onchange()"></p-inputSwitch>
    </div>
</nav>
    <router-outlet></router-outlet>
</div>

